<!DOCTYPE html>
<html>
<head>
  <title>Quality Assurance</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png">
</head>
<body>
  <form action="/travellers" method="POST">
    <label>surname: 
      <input type="text" name="surname" placeholder="try with 'Polo'...">
    </label>
    <button type="submit">submit</button>
  </form>
  
  <div>
    <p>first name: <span id="name"></span></p>
    <p>last name: <span id="surname"></span></p>
    <p>dates: <span id="dates"></span></p>
  </div>

  <script src="/client.js"></script>
</body>
</html>
